extends layout

block content
    h2 Registro exitoso
    p La persona #{name}, de número de identificación #{identification} y con fecha de nacimiento #{birthdate} ha quedado inscrita de forma correcta al curso de HTML.
    br
    em Datos adicionales
    br
    br
    span Genero: #{gender}
    br
    span Ocupación: #{ocupation}
    br
    span Horas a trabajar en la semana: #{hours_per_week}
    br
    span Usuario creador: #{provider}
